In [1]:
import os

In [2]:
# Extrating the files from the Zipper Folder
# %%time
# ! wget os.getcwd() -O txt_reviews.zip
# ! tar -xzvf txt_reviews.zip
# ! del txt_reviews.zip

In [3]:
dir_name = "txt_reviews"
dir_ = os.path.join(os.getcwd(), dir_name)
dir_

'/Users/shivakmuddam/txt_reviews'

In [4]:
# Extract the features from one of the Text Files.
with open(os.path.join(dir_, os.listdir(dir_)[0]), "r") as f:
    cols = [each_item.split(":")[0] for each_item in f.readlines()] 
    print(cols)

['ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator', 'HelpfulnessDenominator', 'Score', 'Time', 'ReviewSummary', 'ReviewText']

In [5]:
li = []
for i in range(len(cols)):
    li.append([])
li

[[], [], [], [], [], [], [], [], []]

In [6]:
import pandas as pd

df = pd.DataFrame(columns= cols)
df

Empty DataFrame
Columns: [ProductId, UserId, ProfileName, HelpfulnessNumerator, HelpfulnessDenominator, Score, Time, ReviewSummary, ReviewText]
Index: []

In [7]:
dir_

'/Users/shivakmuddam/txt_reviews'

In [8]:
# files = [f'/Users/shivakmuddam/txt_reviews/review_{id_}.txt' for id_ in range(1, 568455)]
# files

In [9]:
# %%time
# info = []

# for file in files:
#     with open(file, 'r') as f:
#             lines = f.readlines()        
#             info.append([each_line.split(':')[1].strip() for each_line in lines])
# info

In [10]:
%%time
# df.drop(df.index, inplace=True)
for file in os.listdir(dir_):
    with open(os.path.join(dir_, file), "r") as f:
            c = 0
            for each_item in f.readlines(): 
                li[c].append(each_item.split(" ", 1)[1].replace("\n", ""))
                c += 1

CPU times: user 1min 16s, sys: 2min 6s, total: 3min 23s
Wall time: 7min 24s

In [11]:
df = pd.DataFrame(li).T
df.columns = cols
df.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,ReviewSummary,ReviewText
0,B0000GHNUE,A3D7GP8AS2PRIT,S.C.,1,1,5,1268611200,Hot but still flavorful,We had the Green Chile Habanero one at a local...
1,B000TTDDWE,AA1TQ4QJ4Y94P,barb,0,0,5,1267660800,Yummy,I bought this item at Costco at Christmas time...
2,B0000ICLLS,A2OXNQ43JBMAEI,nene,0,0,5,1341619200,candy,This is the best candy that I have ever had an...
3,B000JWGFQC,A2N9T4CS40KDJE,"D. Wilson ""Euro writer""",1,1,3,1189209600,The muffins were a pleasant low carb treat,As the subject said the muffins were a pleasan...
4,B000KFXEYE,A2M9ANEOKBVD2D,Vinegar Jim,3,9,1,1291075200,Surprise...bait and switch.,The company does not operate properly I ordere...

In [12]:
# from datetime import datetime
# ts = int('1196294400')

# # if you encounter a "year is out of range" error the timestamp
# # may be in milliseconds, try `ts /= 1000` in that case
# print(datetime.utcfromtimestamp(ts).strftime('%Y-%m-%d %H:%M:%S'))

In [13]:
from datetime import datetime
df['Time'] = df['Time'].apply(lambda x: datetime.utcfromtimestamp(int(x)).strftime('%Y-%m-%d %H:%M:%S'))

In [18]:
df.shape

(568454, 9)

In [19]:
# for i in range(df.shape[0]):
#     if df.loc[i, "HelpfulnessDenominator"] == 0:
#         df.loc[i, "Helpfulness"] = 0
#     else:
#         df.loc[i, "Helpfulness"] = df.loc[i, "HelpfulnessNumerator"]/df.loc[i, "HelpfulnessDenominator"]

In [20]:
df.to_csv('Amazon_review.csv', index=None)
df_amazon_review = pd.read_csv('Amazon_review.csv', index_col=None)
df_amazon_review.head()

,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,ReviewSummary,ReviewText
0,B0000GHNUE,A3D7GP8AS2PRIT,S.C.,1,1,5,2010-03-15 00:00:00,Hot but still flavorful,We had the Green Chile Habanero one at a local...
1,B000TTDDWE,AA1TQ4QJ4Y94P,barb,0,0,5,2010-03-04 00:00:00,Yummy,I bought this item at Costco at Christmas time...
2,B0000ICLLS,A2OXNQ43JBMAEI,nene,0,0,5,2012-07-07 00:00:00,candy,This is the best candy that I have ever had an...
3,B000JWGFQC,A2N9T4CS40KDJE,"D. Wilson ""Euro writer""",1,1,3,2007-09-08 00:00:00,The muffins were a pleasant low carb treat,As the subject said the muffins were a pleasan...
4,B000KFXEYE,A2M9ANEOKBVD2D,Vinegar Jim,3,9,1,2010-11-30 00:00:00,Surprise...bait and switch.,The company does not operate properly I ordere...

In [22]:
df.shape

(568454, 9)

In [23]:
df_amazon_review["UserId"].nunique()

256059